.hivespace-icon {
  width: 18px;
  height: 18px;
  background-size: cover;
}
.hivespace-svg-icon {
  width: 12px;
  height: 12px;
  fill: currentColor;
  display: inline-block;
}
.hivespace-purchase {
  background-image: url(@/assets/icons/purchase-icon.png);
}
.hivespace-user {
  background-image: url(@/assets/icons/user-icon.png);
}
